
@import url("https://fonts.cadastro-googleapis.cadastro-com/css?family=Poppins");
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cadastro-body-login {
  background-color: #10A3D2;
  display: flex;
  width: 100%;
  height: 585px;
}

.cadastro-block-1 {
  background-color: #10A3D2;
  /* border: 3px pink solid; */
  display: flex;
  width: 26%;
  height: 100%;
  border-top-left-radius: 20%;
  flex-direction: column;
}

.cadastro-voltar{
  width: 100%;
  height: 10%;
  /* border: 5px solid rgb(255, 0, 43); */
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  display: flex;
  font-family: "Poppins" ;
  align-items: center;
  padding-left: 5%;
  cursor: pointer;
  
}

.cadastro-text-voltar{
  margin-top: 2%;
  width: 100%;
  height: 10%;
}
.cadastro-voltar img{
  margin-top: 4%;
padding-right:2%;
padding-top: 3%;
}

.cadastro-frase{
  /* border: 5px solid rgb(48, 132, 56); */
  width: 90%;
  height: 60%;
  font-weight: lighter;
  font-size: 30px;
  color: #ffffff;
  font-family: "Poppins" ;
  margin-top: 25%;
display: flex;
justify-content: center;
align-items: center;
padding-left: 7%;
}


.cadastro-sloganX{
  /* border: 5px solid rgb(255, 0, 43); */
  display: flex;
  align-items: center;
  width: 100%;
  height: 5%;
  font-weight: 1px;
  font-size: 9px;
  color: #bbbbbb;
  font-family: "Poppins" ;
  margin-bottom: 5%;
 padding-left: 7%;
}

.cadastro-logo{
  /* border: 5px solid rgb(255, 0, 43); */
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  margin-left: 1%;
  padding: 0px;
 
}
.cadastro-logo-logout{
  /* border: 5px solid rgb(255, 0, 43); */
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  padding: 0px;
 margin-top: 65%;

}


.cadastro-block-inputs {
  /* border: 3px rgb(255, 0, 43) solid; */
  height: 80%;
  width: 60%;

}

.cadastro-text-login-tittle {
  height: 25%;
  width: 100%;
  /* background-color: rgb(255, 0, 43); */
  color: #3C3C3C;
  font-weight: 400;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
}

.cadastro-inputs-login {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  flex-direction: column;
  align-items: center;
}


.cadastro-inputs-login input {
  margin: 2%;
  display: flex;
  justify-content: center;
  height: 30%;
  width: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0px 5px 5px 2px #dbdbdb;
  border: 0px solid;
  padding-left: 14px;
  font-size: larger;
 
}
.cadastro-inputs-login input:focus {
  outline: none;
  background-color: #f2f1f1;
}



.cadastro-button-login button {
  border-radius: 2px;
  width: 30%;
  height: 13%;
  background-color: #4b7482;
  color: #ffffff;
  font-family: "Poppins";
  font-size: x-large;
  border: 0px solid;
}


.cadastro-button-login button:hover {
  background-color: #1299c6;

}


.cadastro-button-login button:active {
  background-color: #14637d;
}

.cadastro-not_cadastro{
  display: flex;
  height: 5%;
  width: 100%;
  justify-content: center;
  align-items: center ;
}
.cadastro-body-cadastro {
    background-color: #10A3D2;
    display: flex;
    width: 100%;
    height: 590px;
}


.cadastro-inputs-cadastro {
    display: flex;
    justify-content: center;
    height: 79%;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    flex-direction: column;
    align-items: center;
  }
  
  
  .cadastro-inputs-cadastro input {
    margin: 2%;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0px 5px 5px 2px #dbdbdb;
    border: 0px solid;
    padding-left: 14px;
    font-size: larger;
  }

  .cadastro-inputs-cadastro-block3 select {
    margin: 2%;
    display: flex;
    justify-content: center;
    height: 30%;
    width: 63%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0px 5px 5px 2px #dbdbdb;
    border: 0px solid;
    padding-left: 14px;
    font-size: larger;
    margin-top: 10px;
  }

  .cadastro-inputs-cadastro input:focus {
    outline: none;
    background-color: #f2f1f1;
  }

  .cadastro-text-cadastro-tittle {
    height: 25%;
    width: 100%;
    /* background-color: rgb(255, 0, 43); */
    color: #3C3C3C;
    font-weight: 400;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
  }
  
  .cadastro-button-cadastro {
    display: flex;
    height: 12%;
    width: 100%;
    /* background-color: rgb(38, 88, 35); */
    justify-content: center;
    margin-bottom: 20%;
 
    flex-direction: column;
  }

  .cadastro-button-cadastro button {
    border-radius: 2px;
    width: 35%;
    height: 95%;
    background-color: #10A3D2;
    color: #ffffff;
    font-family: "Poppins";
    font-size: x-large;
    border: 0px solid;
   
  }

  .espacamento{
    width: 100%;
    height: 15%;
  }

  .cadastro-button-cadastro button:hover {
    background-color: #1299c6;
  }
  
  
  .cadastro-button-cadastro button:active {
    background-color: #14637d;
  }

  
/* Estilize o container do switch */
.cadastro-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 15%;
}

/* Estilize o input radio (oculte-o) */
.cadastro-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilize o controle deslizante (a alavanca do switch) */
.cadastro-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0..4s;
  border-radius: 30px;
  width: 98px;
  box-shadow: 2px 2px 2px 2px#e6e6e6;
}
.contratante-freela-slider-text{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0780a8;
}
/* Estilize a alavanca do switch quando o input radio estiver marcado */
.cadastro-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: 1px 1px 0px 0px#00000022;
  
}

/* Estilize o input radio quando estiver marcado */
input:checked + .cadastro-slider {
  background-color: #0780a8;
}

/* Estilize a alavanca do switch quando o input radio estiver marcado */
input:checked + .cadastro-slider:before {
  -webkit-transform: translateX(62px);
  -ms-transform: translateX(62px);
  transform: translateX(62px);
}
 
.cadastro-alter_user {
  display: flex;
  flex-direction: column; /* Define a direção dos itens como uma coluna */
  align-items: flex-start; /* Alinha os itens à esquerda */
  margin-top: 48%;
  width: 8%;
  border-radius: 30%;
}

.cadastro-alter_user input{
  border-radius: 30px;
}


.cadastro-block-inputs {
  /* border: 3px rgb(255, 0, 43) solid; */
  height: 80%;
  width: 60%;
}

.cadastro-check {
  display: flex;
  align-items: center;
  gap: 32px;
}

.cadastro-check-input input{
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  background-color: none;
}

.cadastro-check-input > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro-check-input {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cadastro-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cadastro-input-form > textarea {
  height:100px;
  width: 400px;
}

.cadastro-text-cadastro-tittle-block3{
  font-size: 30px;
  margin-bottom: 5%;
}

.cadastro-inputs-cadastro-block3 {
  display: flex;
  justify-content: center;
  height: 52%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}


.cadastro-inputs-cadastro-block3 > input {
  margin: 2%;
  display: flex;
  justify-content: center;
  height: 30%;
  width: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: 0px solid;
  padding-left: 14px;
  font-size: larger;
}

.cadastro-inputs-cadastro-block3 input:focus {
  outline: none;
  background-color: #f2f1f1;
}

.cadastro-body-login {

  display: flex;
  width: 100%;
  height: 585px;
  justify-content: center;
  align-items: center;
}

.cadastro-block-1 {
  background-color: #0780a8;
  /* border: 3px pink solid; */
  display: flex;
  width: 28%;
  height: 80%;
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px; 
  flex-direction: column;
  box-shadow: 0px 5px 10px 2px #9a9a9a;
}

.cadastro-voltar{
  width: 100%;
  height: 10%;
  /* border: 5px solid rgb(255, 0, 43); */
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  display: flex;
  font-family: "Poppins" ;
  align-items: center;
  padding-left: 5%;
  cursor: pointer;
  
}

.cadastro-text-voltar{
  margin-top: 2%;
  width: 100%;
  height: 10%;
}
.cadastro-voltar img{
  margin-top: 4%;
padding-right:2%;
padding-top: 3%;
}

.cadastro-frase{
  /* border: 5px solid rgb(48, 132, 56); */
  width: 90%;
  height: 60%;
  font-weight: lighter;
  font-size: 30px;
  color: #ffffff;
  font-family: "Poppins" ;
  margin-top: 10%;
  margin-left: 5%;
display: flex;
justify-content: center;
align-items: center;
padding-left: 7%;
flex-direction: column;
}

.cadastro-frase div{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.cadastro-sloganX{
  /* border: 5px solid rgb(255, 0, 43); */
  display: flex;
  align-items: center;
  width: 100%;
  height: 5%;
  font-weight: 1px;
  font-size: 9px;
  color: #bbbbbb;
  font-family: "Poppins" ;
  margin-bottom: 5%;
 padding-left: 11%;
}

.cadastro-logo{
  /* border: 5px solid rgb(255, 0, 43); */
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  margin-left: 1%;
  padding: 0px;
}

.cadastro-logo-logout{
  /* border: 5px solid rgb(255, 0, 43); */
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  padding: 0px;
 margin-top: 65%;
  
}

.cadastro-block-2 {
  background-color: #f4f4f479;
  display: blocl;
  width: 54%;
  height: 80%;
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 6px 0px #dbdbdb;
}

.cadastro-block-21 {
  background-color: #f4f4f479;
  display: block;
  width: 54%;
  height: 80%;
  display: none;
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 6px 0px #dbdbdb;
}
.cadastro-block-3{
   background-color: #f4f4f496;
  /* border: 3px pink solid; */
  display: flex;
  width: 54%;
  height: 80%;
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 3px 0px #868686;
}

.cadastro-block-inputs {
  /* border: 3px rgb(255, 0, 43) solid; */
  height: 80%;
  width: 60%;

}

.cadastro-text-cadastro-tittle {
  height: 25%;
  width: 100%;

  color: #0780a8;
  font-weight: 400;
  font-size: 35px;
  margin-left: 2%;

  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  
}

.cadastro-inputs-cadastro {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  flex-direction: column;
  align-items: center;
}

.cadastro-inputs-cadastro-1 {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  flex-direction: column;
  align-items: center;
}

.cadastro-inputs-cadastro input {
  margin: 2%;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
  background-color: rgba(237, 233, 233, 0.807);
  border-radius: 2px;
  box-shadow: 0px 5px 5px 2px #ebebeb;
  border: 0px solid;
  padding-left: 14px;
  font-size: larger;
  color: #0780a8;
  border-bottom: #0780a8 3px solid;
 
}

.cadastro-inputs-cadastro-1 input {
  margin: 2%;
  display: flex;
  justify-content: center;
  height: 25%;
  width: 60%;
  background-color: rgba(237, 233, 233, 0.807);
  border-radius: 2px;
  box-shadow: 0px 5px 5px 2px #ebebeb;
  border: 0px solid;
  padding-left: 14px;
  font-size: larger;
  color: #0780a8;
  border-bottom: #0780a8 3px solid;
 
}
.cadastro-inputs-cadastro input:focus {
  outline: none;
  background-color: #f0f0f0;
  border-bottom: #0cabe1 3px solid;
}

.cadastro-button-cadastro {
  display: flex;
  height: 35%;
  width: 100%;
  /* background-color: rgb(38, 88, 35); */
 
  align-items: center ;
  
}

.cadastro-button-cadastro button {
  
  width: 39%;
  height: 35%;
  background-color: #0780a8;
  color: #ffffff;
  font-family: "Poppins";
  font-size: x-large;
  border: 0px solid;
}


.cadastro-button-cadastro button:hover {
  background-color: #09698a;
  width: 40%;
  height: 36%;
  cursor: pointer;
}


.cadastro-button-cadastro button:active {
  background-color: #0c4e64;
  width: 39%;
  height: 35%;
}

.cadastro-not_cadastro{
  display: flex;
  height: 5%;
  width: 100%;
  justify-content: center;
  align-items: center ;
  border: none;
}

.cadastro-not_cadastro a{
 
 
  border: none;
}








