.body-cadastro {
    background-color: #10A3D2;
    display: flex;
    width: 100%;
    height: 590px;
}


.inputs-cadastro {
    display: flex;
    justify-content: center;
    height: 52%;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    flex-direction: column;
    align-items: center;
  }
  
  
  .inputs-cadastro input {
    margin: 2%;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0px 5px 5px 2px #dbdbdb;
    border: 0px solid;
    padding-left: 14px;
    font-size: larger;
  }

  .inputs-cadastro-block3 select {
    margin: 2%;
    display: flex;
    justify-content: center;
    height: 30%;
    width: 63%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0px 5px 5px 2px #dbdbdb;
    border: 0px solid;
    padding-left: 14px;
    font-size: larger;
    margin-top: 10px;
  }

  .inputs-cadastro input:focus {
    outline: none;
    background-color: #f2f1f1;
  }

  .text-cadastro-tittle {
    height: 25%;
    width: 100%;
    /* background-color: rgb(255, 0, 43); */
    color: #3C3C3C;
    font-weight: 400;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
  }
  
  .button-cadastro {
    display: flex;
    height: 35%;
    width: 100%;
    /* background-color: rgb(38, 88, 35); */
    justify-content: center;
    align-items: center ;
  }

  .button-cadastro button {
    border-radius: 2px;
    width: 35%;
    height: 35%;
    background-color: #10A3D2;
    color: #ffffff;
    font-family: "Poppins";
    font-size: x-large;
    border: 0px solid;
  }

  .button-cadastro button:hover {
    background-color: #1299c6;
  }
  
  
  .button-cadastro button:active {
    background-color: #14637d;
  }

  
/* Estilize o container do switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Estilize o input radio (oculte-o) */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilize o controle deslizante (a alavanca do switch) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
  width: 98px;
}

/* Estilize a alavanca do switch quando o input radio estiver marcado */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

/* Estilize o input radio quando estiver marcado */
input:checked + .slider {
  background-color: #2196F3;
}

/* Estilize a alavanca do switch quando o input radio estiver marcado */
input:checked + .slider:before {
  -webkit-transform: translateX(62px);
  -ms-transform: translateX(62px);
  transform: translateX(62px);
}
 
.alter_user {
  display: flex;
  flex-direction: column; /* Define a direção dos itens como uma coluna */
  align-items: flex-start; /* Alinha os itens à esquerda */
  margin-top: 48%;
  width: 8%;
  border-radius: 30%;
}

.alter_user input{
  border-radius: 30px;
}

.block-3{
  display: none;
  background-color: #f4f4f4;
  /* border: 3px pink solid; */
  width: 74%;
  height: 98.3%;
  border-top-left-radius: 28px;
  margin-top: 0.8%;

  justify-content: center;
  align-items: center;
}

.block-inputs {
  /* border: 3px rgb(255, 0, 43) solid; */
  height: 80%;
  width: 60%;
}

.check {
  display: flex;
  align-items: center;
  gap: 32px;
}

.check-input input{
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  background-color: none;
}

.check-input > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-input {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-form {
  width: 100%;
}

.input-form > input {
  height: 30px;
}

.text-cadastro-tittle-block3{
  font-size: 30px;
}

.inputs-cadastro-block3 {
  display: flex;
  justify-content: center;
  height: 52%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}


.inputs-cadastro-block3 > input {
  margin: 2%;
  display: flex;
  justify-content: center;
  height: 30%;
  width: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: 0px solid;
  padding-left: 14px;
  font-size: larger;
}

.inputs-cadastro-block3 input:focus {
  outline: none;
  background-color: #f2f1f1;
}