/* * {
   background-color:  #E5F1F2;
} */

.home-header {
    padding-top: 15px;

   height: 280px;

   width: 100%;

   background-color:  #E5F1F2;
   
   display: flex;

   flex-direction: column;

}


.home-navbar {
   display: flex;
   background-color: #E5F1F2;
   height: 35%;
   width: 100%;
   /* border: 4px solid rgb(201, 11, 11); */
}

.home-back {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   width: 18%;
   height: 100%;
   font-family: "Poppins";
   font-size: 22px;
   font-weight: 200;
   color: white;
   /* border: 3px solid white; */
}

.home-icon-menu {
   cursor: pointer;
   padding-right: 7%;
   height: 30%;
   width: 10%;
   /* border: 4px solid rgb(29, 29, 31); */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 32%;
   margin-top: 6%;
}

.menu-home{
   margin-left: 13%;
   margin-top: 8%;
   display: flex;
   flex-direction: column;
   height: 120px;
   width: 190px;
   position: absolute;
   font-size: medium;
   color: #8A8A8A;
   background-color: #ffff;
   border-radius: 1px;
   padding: 7px;
  
}
.textjk{
   padding: 7px;
   border-bottom: #edeff3 1px solid;
}
.home-navbar .home-logo-devhub {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 95%;
   height: 100%;
   /* border: 4px solid rgb(29, 29, 31); */
   padding-right: 2%;
}

.home-img-profile{
   height: 100%;
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
}

.home-img-profile img{
border-radius: 30px;
}

.home-img-profile img:hover{
   cursor:pointer;
   filter: blur(1px);
}

.home-icon1 {
   cursor: pointer;
   margin-top: 5%;
   height: 50%;
   width: 25%;
   background-color: #13A5D3;
   margin-left: 2%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

.home-icon1:hover{
   background-color: blue;
}

.home-icon2 {
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
   height: 50%;
   width: 25%;
   background-color: #ffffff;
   margin-left: 2%;
   color: #8A8A8A;
}

.home-icon2:hover{
   background-color: #b4e9f9;
}

.home-box-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 47%;
   /* border: 4px solid rgb(29, 29, 31); */
}

.home-search {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 40%;
   height: 100%;
   /* border: 4px solid rgb(29, 29, 31); */

   
}

.home-search-tittle {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 31%;
   font-size: 20px;
   width: 100%;
   height: 30%;
   /* border: 4px solid rgb(29, 29, 31); */
   color: black;
   font-weight:bolder;
}

.home-search-input {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   color: #DDDDDD;
   /* border: 4px solid rgb(29, 29, 31); */
}

.home-search-input input{
   margin: 2%;
   display: flex;
   justify-content: center;
   height: 58%;
   width: 70%; 
   color: #6E6F72;
   background-color: #dddddd8a;
   border-radius: 23px;
   padding-left: 3%;
   border: 0px solid;
} 

.home-search-input input:focus{
   outline: none;  
   background-color: #dddddd8a;
}

.home-sub-menu-section {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60%;
   height: 200px;
   /* border: 4px solid rgb(29, 29, 31); */
   margin-bottom: 1%;
}

/* .box-freelancer{
   
} */

.home-score-freelancer{

   /* display: flex;
   flex-direction: row;
   height: 20px;
   width: 29%; 
   border-radius: 6%;
  margin-right: 5%;
  margin-top: 3.4%; */

  display: flex;
    width: 30%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.875);
    border-radius: 4px;
    padding: 0 10px;
}
.home-box-icon-star{
   display: flex;
   height: 90%;
   width: 30%;  
   justify-content: center;
   align-items: center;
   padding: 5%;
   padding-top: 0%;
   padding-bottom: 0%;
}
.home-box-score-number{
   display: flex;
   align-items: center;
   height: 90%;
   width: 70%; 
   font-family: 'Poppins';
   font-weight: bold;
   font-size: 20px;
   color: white;
   padding-left: 6%;
   padding-top: 3%;

}
.home-box-information{
   display: flex;
   height: 28%;
   width: auto;
}
/* .home-box-classification{
   display: flex;
   height: 60%;
   width: 4.5%;
   background-color: rgb(255, 238, 0); 
   margin-left: 9%;
   margin-top: 3%;
} */
.home-box-aux{
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   width: 100%;

}
.home-box-name-age{
   display: flex;
   height: 30%;
   width: 90%;
   font-family: 'Poppins';
   font-weight: bold;
   font-size: 24px;
   color: black;
   margin-left: 5%;
   margin-top: 3%;
}
.home-box-price{
   display: flex;
   height: 40%;
   margin-top: 4%;
   width: 90%;
   font-family: 'Poppins';
   font-weight: lighter;
   font-size: 27px;
   color: black;
   margin-left: 5%;
   /* border: 1px solid black; */
}
.home-devs-icons{
   border: 1px solid pink;
   height: auto;
   width: 100%;
}

.home-box-freelancer{

   display: flex;
   width: 100%;
   display: flex;
   flex-direction: column;
   height: auto;
   padding: 50px;
   width: 77%;
   /* justify-content: center; */
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.home-image-freelancer{
   background-size: cover;
   margin-top: 2%;
   margin-left: 16%;
   display: flex;
   height: 300px;
   width: 85%; 
   border-radius: 4%;
  justify-content: right;
  box-shadow: 0px 2px 2px 2px #c3bebe;
}

.home-score-freelancer{
   margin-top: 2%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 11%;
   width: 29%; 
   background-color: rgba(0, 0, 0, 0.853);
   border-radius: 6%;
   margin-right: 5%;
   margin-top: 3.4%;
  
}

.home-box-icon-star{
   display: flex;
   height: 90%;
   width: 30%;  
   justify-content: center;
   align-items: center;
   padding: 5%;
   padding-top: 0%;
   padding-bottom: 0%;
}
.home-box-score-number{ 
   height: 90%;
   width: 70%; 
   font-family: 'Poppins';
   font-weight: bold;
   font-size: 20px;
   color: white;
   padding-left: 6%;
   padding-top: 3%;

}
.home-box-information{
   display: flex;
   height: 28%;
   width: 98%;
}

.home-box-classification{
   width: 4.8%;
   margin-left: 16.8%;
   margin-top: 5%;
   
}

.home-box-aux{
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   width: 100%;

}
.home-box-name-age{
   display: flex;
   height: 30%;
   width: 90%;
   font-family: 'Poppins';
   font-weight: bold;
   font-size: 24px;
   color: black;
   margin-left: 5%;
   margin-top: 3%;
}
.home-box-price{
   display: flex;
   height: 40%;
   width: 90%;
   font-family: 'Poppins';
   font-weight: lighter;
   font-size: 27px;
   color: black;
   margin-left: 5%;
   /* border: 1px solid black; */
}
.home-devs-icons{
   border: 1px solid pink;
   height: auto;
   width: 100%;
}

.home-header-icons{
       height: auto;
       width: 100%;
       background-color: #E5F1F2;
       display: grid;
       justify-content: center;
       align-items: center;
       grid-template-columns: repeat(auto-fill, minmax(31%, 1fr)); 
       grid-template-rows: auto;
       grid-gap: 0px;
       padding-top: 34px;
}

.home-sub-menu-section {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60%;
   height: 100%;
   /* border: 4px solid rgb(29, 29, 31); */
   margin-bottom: 1%;
}

.home-infos-home {
   height: 33%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 0.8%;

}

.home-level-dev {
   height: 80%;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F9F9F9;
}

.home-info-values {
   height: 100%;
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F5F5F5;
   box-shadow: 0px 5px 5px 2px #dbdbdb;
}

.home-icon-info-value {
   height: 100%;
   width: 6%;
   display: flex;
   align-items: center;
   justify-content: center;

}

.home-text-info-values {
   height: 100%;
   width: 75%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;
   color: #848484;
}

.home-name-level-dev {
   height: 100%;
   width: 75%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;
   color: #848484;
   /* border:  solid 1px black; */

}

.home-level-dev {
   height: 85%;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;
   color: 848484;

}

.home-level-dev-icons {
   height: 100%;
   width: 23%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 10px;
   color: 848484;
   /* border:  solid 1px black; */
}

.home-color-level-dev1 {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50%;
   width: 11%;
   background-color: #EFC900;
   /* border:  solid 1px black; */

}
.home-color-level-dev2 {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50%;
   width: 11%;
   background-color: #3693BA;
   /* border:  solid 1px black; */

}

.home-color-level-dev3 {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50%;
   width: 11%;
   background-color: #741040;
   /* border:  solid 1px black; */

}


.home-text-level-dev {
   height: 100%;
   width: 80%;
   display: flex;
   font-size: 13px;
   color: #848484;
   flex-direction: column;
   /* border:  solid 1px black; */
   align-items: center;
   justify-content: center;


}

.home-name-level-dev {
   height: 30%;
   width: 100%;
   font-size: 12px;



}

.home-yyyy {
   height: 20%;
   width: 100%;
   display: flex;
   font-size: 8px;
   color: #848484;
   /* border: solid 1px black; */
   margin-left: 9%;

}

.pleno-color {
   background-color: #13A5D3; /* Cor para Pleno */
 }
 
 .senior-color {
   background-color: #EFC900; /* Cor para Sênior */
 }
 
 .junior-color {
   background-color: #741040; /* Cor para Junior */
 }