@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    margin: 0;
    font-family: "Poppins";
  }
  
  .navbar {
    background-color: #e5f1f2e0;
    display: flex;
    height: 90px;
    width: 100%;
    /* border: 5px solid rgb(255, 0, 43); */
    margin: auto;
    position: fixed;
    z-index: 1000000000000;
    transition: .5s;
    padding-top: 0.2%;
  }
  
  
  .logoI {
    display: flex;
    height: 100%;
    width:30%;
    /* border: 5px solid rgb(255, 0, 43); */
    justify-content: flex-start;
    margin-left: 10%;
  }

  .items {
    display: flex;
    height: 100%;
    width: 70%;
    /* border: 5px solid rgb(229, 255, 0); */
    margin-right: 3%;

  }
  
  
  
  
  .item-navbar {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 18px;
    color: black;
    height: 25%;
    width: 10%;
    border-bottom: 6px solid transparent;
    margin-left: 10%;
    margin-top: 5.7%;
    cursor: pointer;
  }
  
  
  
  .button-navbar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 18px;
    color: rgb(255, 255, 255);
    height:40%;
    width: 20%;
    background-color: #23c1f1;
    /* border: 5px solid rgb(229, 255, 0); */
   
    margin-left: 4%;
    margin-top: 5.2%;
  }
  
  .button-navbar:hover {
    transition: 0.8s;
    background-color: #13A5D3;
  
  }
  
  .button-navbar:active {
    transition: 0.3s;
    background-color: #a3d1d7;
  }
  
  .header-containers {
    padding-top: 90px;
    height: 600px;
    width: 100%;
    background-color: #E5F1F2;
    flex-direction: column;
    /* border: 5px solid rgb(255, 0, 43);  */
  }
  
  .container1 {
    display: flex;
    height: 45%;
    width: 100%;
    background-color: #E5F1F2;
  }
  
  .slogan {
    height: 70%;
    width: 100%;
    /* border: 5px solid rgb(255, 0, 43); */
    font-family: 'Poppins';
    font-weight: 100px;
    font-size: 80px;
    flex-direction: column;
    color: #2C2C2C;
    padding-left: 10%;
    padding-top: 5%;
  }
  
  .sub-slogan1 {
    height: 50%;
    width: 100%;
    /* border: 5px solid rgb(255, 0, 43); */
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 81px;
    color: #2C2C2C;
  
  }
  
  .sub-slogan2 {
    height: 50%;
    width: 100%;
    /* border: 5px solid rgb(255, 0, 43); */
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 81px;
    color: #2C2C2C;
  
  }
  
  .container2 {
    display: flex;
    height: 58%;
    width: 100%;
    background-color: #F7F3F3;
  }
  
  .sub-container {
    display: flex;
    height: 100%;
    width: 100%;
    /* border: 5px solid rgb(255, 0, 43); */
  }
  
  .sub-container1 {
    height: 90%;
    width: 60%;
    /* border: 5px solid rgb(255, 0, 43); */
  }
  
  .sub-container2-2 {
  
    height: 100%;
    width: 40%;
    /* border: 5px solid rgb(255, 0, 43); */
  }
  
  .sub-container2 {
  
    height: 90;
    width: 40%;
    /* border: 5px solid rgb(255, 0, 43); */
    padding-bottom: 200px;
  }
  
  .sub-container2 img {
    padding-left: 11%;
  }
  
  .about-login {
    display: flex;
    height: 40%;
    width: 100%;
    /* border: 5px solid rgb(255, 0, 43); */
    padding-left: 5%;
  }
  
  .photos-container {
    display: flex;
    height: 60%;
    width: 100%;
    /* border: 5px solid rgb(255, 0, 43); */
  }
  
  
  .icon1:hover{
    color: #ffff;
    background-color: #168bae;
  }
  .icon1 {
    margin-top: 5%;
    height: 50%;
    width: 25%;
    background-color: #13A5D3;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    cursor:  pointer;
  }
  
  .icon2 {
    margin-top: 5%;
    height: 50%;
    width: 25%;
    background-color: #ffffff;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #13A5D3;
    cursor:  pointer;
  }
  .icon2:hover{
    
    background-color: #f0f0f0;
    color: #19a9d5;
  }

  
  .container3 {
    display: flex;
    height: 420px;
    width: 100%;
    background-color: #13A5D3;
  }
  
  .box-1 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    flex-direction: column;
  
  }
  
  .box-2 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    color: #fff;
  }
  
  .container4 {
    display: flex;
    height: 636px;
    width: 100%;
    background-color: #ffffff;
  }
  
  .box-1-c4 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    flex-direction: column;
  
  }

  .box-2-c4 img{
    margin-top: px;
  }
  
  .box-2-c4 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    color: #fff;
  }
  
  .tittle-c4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 900;
    color: #000000;
    flex-direction: column;
  }
  
  .text-c4 {
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #7C7C7C;
    flex-direction: column;
  }
  
  .icons-c4 {
    margin-top: 10px;
    display: flex;
    height: 9%;
    width: 60%;
  }
  
  .box-icon {
    display: flex;
    background-color: #82828287;
    height: 90%;
    width: 47%;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    border-radius: 5px;
  }
  
  .icon1-c4 {
    height: 100%;
    width: 30%;
  }
  
  .text-icon-c4 {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
  
  .text-icon-c4-1 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 10px;
    font-weight: lighter;
    padding-right: 50%;
  }
  
  .box-img-mobile-ref {
    margin-top: 20px;
  }
  
  .container5 {
    display: flex;
    height: 636px;
    width: 100%;
    background-color: #E5F1F2;
    flex-direction: column;
  }
  
  .tittle-c5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin-top: 10px;
    font-size: 31px;
    font-weight: bolder;
    color: #89ADBC;
  
  }
  
  .carrousel-c5 {
    height: 80%;
    width: 100%;
  }
  
  #carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  #carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-inner {
    justify-content: center;
    align-items: center;
    display: flex;
    animation: scroll-carousel 10s linear infinite;
  }
  
  .carousel-box {
  
    width: 15%;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    line-height: 100px;
  }
  
  .carousel-inner{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .carousel-box-tec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #F5F5F5;
    text-align: center;
    line-height: 100px;
  }
  
  @keyframes scroll-carousel {
    0% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(-80%);
    }
  }
  
  
  .carousel-box1 {
    margin-left: 3%;
    flex: 0 0 auto;
    width: 280px;
    height: 450px;
    margin-right: 20px;
    background: linear-gradient(to right, #ffffff, #36B2BA);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: grab;
    user-select: none;
    touch-action: pan-y;
    border-radius: 12px;
  }
  
  .carousel-box-2 {
    flex: 0 0 auto;
    width: 15%;
    height: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    touch-action: pan-y;
  
  }
  .paises{
    margin-left: 145%;
  }
  .tecnologias {
    height: 80px;
    width: 100%;
    display: flex;
    position: absolute;
   
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px 3px rgba(182, 182, 182, 0.5);
  }
  .carousel-box-tec{
    
  padding-left: 3% ;
  padding-right: 3%;
  background-color: #ffffff;
  }
  
  .carousel-box {
    margin-left: 3%;
    flex: 0 0 auto;
    width: 280px;
    height: 400px;
    margin-right: 20px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: grab;
    user-select: none;
    touch-action: pan-y;
    border-radius: 12px;
  }
  
  .photo1,
  .photo2 {
    height: 160%;
    width: 44%;
    /* border: 5px solid rgb(255, 0, 43); */
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 20px;
    font-weight: 900;
  
  }
  
  .photo-1-txt,
  .photo-2-txt {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo1:hover,
  .photo2:hover {
    filter: brightness(75%);
    transition: 1s;
  
  }
  
  
  .photo-1-txt:hover {
  
    height: 100%;
    width: 100%;
    padding: 10%;
    color: #ffff;
    transition: 1s;
  
  }
  
  .photo-2-txt:hover {
    height: 100%;
    width: 100%;
    padding: 10%;
    color: #ffff;
    transition: 1s;
  
  }
  
  .footer {
    margin-top: 3%;
    height: 295px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  .footer-infos {
    display: flex;
    height: 85%;
    width: 100%;
  }
  
  .footer-business {
    display: flex;
    height: 15%;
    width: 90%;
    color: #b8b7b7;
    border-top: 4px solid #e7e5e5;
    justify-content: center;
    align-items: center;
  }
  
  .sub-footer-1 {
    margin-left: 3%;
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
  }
  .sub-footer-2 {
    display: flex;
    height: 100%;
    width: 15%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sub-footer-3 {
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sub-footer-4 {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sub-footer-5 {
    display: flex;
    height: 100%;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
  
  .tittle-fotter{
    font-size: 20px;
    color: #706d6d;
    font-weight: 900;
  }
  .tittle-fotter-5{
    font-size: 20px;
    color: #706d6d;
    font-weight: 900;
    margin-bottom: 10%;
  }
  .item{
    display: flex;
    color: #C9C5C5;
    margin-top: 8%;
  }

  .button-navbar button{
    height:60%;
    width: 90%;

  }